<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add
			name="DbConnection"
			connectionString="Data Source=localhost,1433;Initial Catalog=Librian;persist security info=True;User Id=SA;Password=Arkam2004;Trusted_Connection=False;Encrypt=False;"
		/>
		<add
			name="SearchEngineUrl"
			connectionString="http://localhost:7700"
		/>
		<add
			name="SearchEngineMasterKey"
			connectionString="Arkam2004"
		/>
	</connectionStrings>
</configuration>